<div class = 'body'>
  
  <% @results.each do |instagram| %>

  <div class= 'instagram'>

    <div class = 'instagram-pic'>  
    
      <a href="<%= instagram.link %>" data-largesrc="<%= instagram.images.standard_resolution.url %>" data-title="@<%= instagram.user.username %>" >
    
        <%= image_tag instagram.images.standard_resolution.url %>
    
      </a>

      <% if instagram.caption %>
      <div class ='instagram-caption'>

        <h1 class ='instagram-caption'><%= caption = instagram.caption.text %> <%= instagram.likes["count"]%></h1>
    
      <% end %>
    
      </div>
    </div>
  </div>
      
  <!-- <div class="instagram-caption">
    
  </div>
  
 -->  <% end %>



</div>

